.titleVaccination {
    font-size: x-large;
    color: #2b4bc9;
    font-weight: bold;
    margin-right: 23%;
}
.titleHeader{
    font-size: large;
    color: #6f7d94;
    font-weight: bold;
    margin-right: 4%;
}
.icons{
    color: #2b4bc9; 
    margin-right: 5%;
}
.iconsArrow{
    color: #2b4bc9; 
    margin-left: 16%;
}
.bold {
    font-size: bold;
}
.divs{
    padding: 5%;
    border-width: 5px;
    border-style: solid;
    border-color: #fafaff;
    border-radius: 5px;
}
.iconsLarge{
    color: #2b4bc9;
    margin-left: 7%;
    height: 45px;
    width: 45px;
    background-color: #f1f5ff;
    padding: 3%;
    border-radius: 10%;
}
.iconsMedium{
    color: #2b4bc9;
    margin-left: 7%;
    height: 40px;
    width: 40px;
    background-color: #f1f5ff;
    padding: 3%;
    border-radius: 10%;
}
.iconsSmall{
    color: #2b4bc9;
    margin-left: 7%;
    height: 45px;
    width: 45px;
    background-color: #f1f5ff;
    padding: 3%;
    border-radius: 10%;
}
.fondoSmall{
    height: 25px;
    width: 25px;
    background-color: #f1f5ff;
    padding: 1%;
    border-radius: 10%;
}
.iconsYellow{
    color: #ffd012; 
    margin-right: 3%;
}
.gray{
    color: #6d7b93;
}
.blue{
    color: #1f3e72;
}
.larger{
    font-size: larger;
    font-weight: bold;
    margin-right: 8%;
    margin-left: 8%;
}
.medium{
    font-size: medium;
    font-weight: bold;
    margin-right: 8%;
    margin-left: 8%;
}
.small{
    font-size: small;
    font-weight: bold;
    margin-right: 8%;
    margin-left: 8%;
}
.spacing{
    padding-top: 5%;
}
.spacing-left{
    padding-left: 19%;
}
.typeVaccine{
    width: 100%;
    padding: 5%;
}
.preparationsVaccine{
    width: 100%;
    padding: 5%;
}
.vacunas{
    background-color: white;
    padding-top: 1%;
    max-width: 76%;
    margin-left: 2%;
}
.imgs {
    position: absolute;
    z-index: -2;
}
h1, h3{
   color: #1f3e72;
   font-weight: bold;
}
p{
    color: #6d7b93;
    font-weight: bold;
}
.button{
    background-color: #2b4bc9;
    color: white;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-color: #2b4bc9;
    border-radius: 5px;
    margin-top: 3%;
    border-width: 0px;
    width: 135px;
}
.buttonHeader{
    background-color: #2b4bc9;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 8px;
    border-color: #2b4bc9;
    border-radius: 5px;
    margin-top: 3%;
    border-width: 0px;
    width: 135px;
    height: 45px;
    font-size: medium;
}
.buttonClear{
    background-color: #f1f5ff;
    color: #2b4bc9;
    font-weight: bold;
    padding: 10px;
    border-color: #f1f5ff;
    border-radius: 5px;
    margin-top: 3%;
    border-width: 0px;
    width: 170px;
}
.spanFooter{
    color: #6d7b93;
    font-weight: bold;
    padding-right: 50px;
}
.footerDiv{
    padding-top: 30px;
    padding-left: 50px;
}
footer{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: #eef3ff;
}